.inputSearch {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
}
.itemsBox {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  opacity: 1;
  padding: 30px 108px;
}
.orderAcceptance {
  text-align: center;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;
  font-size: 16px;
}
.phaseButton {
  background: transparent linear-gradient(300deg, #fcaf3c 0%, #ff9500 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  padding: 8px 26px;
  color: white;
  font-weight: bold;
}
.companyTitle {
  text-align: start;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;

}
